@media (max-width: 700px) {
  body {
    background-image: url(../assets/images/background-pattern-mobile.svg);
    min-width: 375px;
  }
}

@media (min-width: 700px) {
  body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
  }
}